<body>
    <% provide(:title, "Edit user") %>
    <h4 class="center">Update your profile</h4>

    <div class="container">
        <%= form_for(@member, html: { multipart: true }) do |f| %>
        <%= render 'shared/error_messages' %>

        <div class="row"><div class="input-field col s12">
            <%= f.label :name, class: "active" %>
            <%= f.text_field :name, class: "validate" %>
        </div></div>

        <div class="row"><div class="input-field col s12">
            <%= f.label :email, class: "active" %>
            <%= f.text_field :email, class: "validate" %>
        </div></div>

        <div class="row"><div class="input-field col s12">
            <%= f.label :password, class: "active" %>
            <%= f.password_field :password, class: "validate" %>
        </div></div>

        <div class="row"><div class="input-field col s12">
            <%= f.label :password_confirmation, class: "active" %>
            <%= f.password_field :password_confirmation, class: "validate password" %>
        </div></div>

        <div class="row picture">
            <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png', class: "btn" %>
        </div>

        <div class="row"><div class="input-field col s12">
            <%= f.submit "Save Changes", class: "btn col s12" %>
        </div></div>


        <% end %>
    </div>
</body>

<script type="text/javascript">
    $('#member_picture').bind('change', function() {
        var size_in_mb = this.files[0].size/1024/1024;
        if(size_in_mb > 5) {
            alert('Image capacity exceeded. Please upload an image smaller than 5MB.');
        }
    });
</script>